.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.form-input, .form-select {
  width: 90%; /* Adjusted width to fit within table cells */
  padding: 8px;
  margin: 4px 0; /* Reduced margin for table cell spacing */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 6px 12px; /* Adjusted padding for better fit within table cells */
  margin: 4px 2px; /* Reduced margin for table cell spacing */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

/* Additional button styles for edit and delete actions */
.button-edit, .button-delete {
  padding: 5px 10px; /* Standardized padding for edit and delete buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-edit {
  background-color: #f0ad4e; /* Orange */
  color: white;
}

.button-delete {
  background-color: #d9534f; /* Red */
  color: white;
}

/* Styling for the "Add New" button above the table */
.button-add-new {
  background-color: #007bff; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px; /* Space above the table */
}

.button-add-new:hover {
  background-color: #0056b3;
}